
<div class="each_artist row" data-artist="<%= @id_artist %>">
      <tr>
        <td><%= each_artist.name %></td>
        <td><%= link_to '編集', "artists/#{each_artist.id}/edit", remote: true %></td>
        <td><%= link_to '削除', "artists/#{each_artist.id}",
      remote: true, data: { confirm: '削除しますか？' },
      method: :delete %>
      </td>
      </tr>
</div>
