<%= render 'layouts/admin-nav' %>
<div class="admin-product">
<div class="container">
  <div>
    <h1 class="admin-product-page">商品新規登録</h1>
  </div>
    <%# フラッシュメッセージ %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>



  <%= render 'form_new' %>
