<td><%= link_to '編集', "labels/#{label.id}/edit", remote: true %></td>
<td><%= link_to '削除', "labels/#{label.id}",
                        data: { confirm: '削除しますか？' },
                        method: :delete %></td>
</tr>
