<td><%= link_to '編集', "labels/#{label.id}/edit", class: "btn btn-success btn-xs", remote: true %></td>
<td><%= link_to '削除', "labels/#{label.id}",
                        data: { confirm: '削除しますか？' },
                        method: :delete,
                        class: "btn btn-danger btn-xs"%></td>
</tr>
