<%= render 'layouts/user-nav' %>

<div class="container">
	<div class="complete-message">
		<div class="text-center">
			<h2>ご購入が完了しました！</h2>
			<p>
				お支払いの情報をご登録メールアドレス宛てに送付致します。<br>
				ご案内に従いお手続きをお願い致します。
			</p>

			<%= link_to "トップページへ", '/'%>
		</div>
	</div>
</div>

<%= render 'layouts/footer' %>
