<h1>
	AdminUsers#index
	Saddy
</h1>


<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<%= render 'layouts/admin-nav' %>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h2>会員一覧</h2>
			<label>ID</label>
			<label>メールアドレス</label>
			<label>電話番号</label>
			<label>お名前(姓)</label>
			<label>お名前(名)</label>
			<button type="button" name="button">検索</button>
		</div>

		<!-- users index -->
		<div class="index">
			<caption>検索結果：○○件が該当しました。</caption>
			<table>
				<tr>
					<th>会員ID</th>
					<th>会員名</th>
					<th>電話番号</th>
					<th>メールアドレス</th>
					<th></th>
				</tr>
				<tr>
					<td></td>
				</tr>

				</th>
			</table>
		</div>

	</div>


</div>
