<h1>
	AdminUsers#show
	Saddy
</h1>


<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<%= render 'layouts/admin_nav' %>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h2>会員一覧</h2>
			<%= form_tag(search_path, :method => 'get') do %>
				<%= txt_field_tag :search %>
				<%= submit_tag '検索',  %>
		</div>
	</div>
</div>
