// Place all the styles related to the admin_orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admin-order-rireki {
  margin-top: 30px;
}
.admin-order-total-price {
  width: 200px;
}
.admin-order-total-price-1 {
  width: 200px;
  font-weight: 900;
  font-size: 20px;
}
.admin-order-total-price-span {
  float: right;
}
.admin-order-total-price-span-1 {
  float: right;
  font-weight: 900;
  font-size: 20px;
}
.admin-order-edit-button {
  margin-top: 30px;
}
.admin-order-edit-form {
  margin-bottom: 60px;
}
.order-edit-kousinsuru {
  width: 400px;
}
