// Place all the styles related to the admin_orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admin-order-rireki {
  margin-top: 30px;
}
.admin-order-edit-button {
  margin-top: 30px;
}
.admin-order-edit-form {
  margin-bottom: 60px;
}
.order-edit-kousinsuru {
  width: 400px;
}
.line-height-adjust {
  background-color: #DDD;
}
