// Place all the styles related to the admin_products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admin-product-index {
  background-color: #DDDDDD;
}
.nested-fields {
  margin-left: 8px;
}
.nested-fields > input {
  margin-right: 6%;
}
.product_song_box {
  margin-bottom: -25px;
}
.add-song-button {
  position: absolute;
  top: 82px;
  right: 32px;
}
.add-song-button-edit {
  position: absolute;
  top: 85px;
  right: 119px;
}
.remove_fields {
  margin-left: 1px;
}
.song-table-right {
  position: relative;
  margin-top: -17px;
}
.song-edit-table {
  position: relative;
}
.product-shinkitouroku-box {
  width: 500px;
  margin: 0 auto;
}
.product-shinkitouroku {
 width: 100%;
 height: 40px;
 font-size: 30px;
}
.edit-song-table {
  margin-bottom: -5px;
}
h1, .admin-product-page {
}
.kensaku-button {
  width: 300px;
  margin: 0 auto;
}
.admin-hr {
  margin-top: 0;
  margin-bottom: 20px;
}
.admin-product-input-form {
  margin-top: 20px;
}
.product-new-label {
  text-align: center;
  background-color: #b0c4de;
  height: 30px;
  border-radius: 10px;
  padding-top: 4px;
  font-size: 20px;
}
.product-new-label-edit {
  text-align: center;
  background-color: #b0c4de;
  height: 30px;
  border-radius: 10px;
  padding-top: 4px;
  font-size: 20px;
  margin-top: 19px;
  margin-bottom: 29px;
}
