/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
    font-family: 'Noto Serif JP', sans-serif;
}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

ul {
  list-style: none;
}

//navbar関連
.header {
	width: 100%;
	background-color: cadetblue;
	display: inline-block;
	text-align: center;
	position: fixed;
	top: 0;
	z-index: 10;
}

.navbar-header{
	font-size:25px;
	color:#9d9d9d;
  height: 60px;
}

.logo {
  text-align: center;
  float: left;
  font-size: 35px;
}

.cart{

font-size: 40px;
margin-right: 30px;
color: darkslategray;
opacity: 0.7;

}

.cart-hover{
  display: none;
}

.cart-mouseover{
  font-size: 25px;
  color: white;
  opacity: 0.7;
}

.navbar-nav > li >  {
color:#9d9d9d;
 }

.navbar{
  margin-bottom:0;
}

 .navbar-right {
    margin: 10px 50px 0 0;
 }

 .navbar-left {
     margin-left: 80px;
 }

.right-content {
	text-align: center;
}

.navbar-left{
	position:relative;
}

.nav-contents {
  display:inline-block;
  height: 50px;
}

.nav-contents:hover {
  background: #67c5ff;
  opacity: 0.6;
  color: white;
  border-radius: 10px;
}

.nabvar-logo {
  background-image: url(logo.png);
}

.artist-name {
	font-size: 70px;
}

.name {
	font-size: 50px;
}

.title {
	margin-top: 30px;
	font-size: 50px;
}

.songs {
	font-size: 30px;
	text-align: left;
	padding-left: 80px;
}

.left-content {
	text-align: center;
}

.product-index {
	margin-bottom: 30px;
	background-color: white;
}

.product-wrapper{
	margin:100px 0;
}

.main-layout {
	text-align: center;
	margin: 150px 95px 0 95px;
}

.product-date {
	margin-top: 15px;
}

.product-buy {
	margin-top: 50px
}

.release-date {
	margin-right: 95px;
}

.songs-count {
	margin-left: 95px;
}

.admin-product {
	margin-top: 10px;
}


 .product-buy {
     margin-top: 50px
 }
  .release-date {
      margin-right: 95px;
  }

  .songs-count {
      margin-left: 95px;
  }

  .admin-product {
      margin-top: 10px;
  }

  .buy-btn {
      margin: 50px 15px 0 15px;
  }



  .user-logo {
      margin-bottom: 10px;
  }

  .product-image {
    border-radius: 35px;
  }





    .btn-flat-border {
        display: inline-block;
        padding: 0.3em 1em;
        text-decoration: none;
        color: #67c5ff;
        border: solid 2px #67c5ff;
        border-radius: 3px;
        transition: .4s;
      }

      .btn-flat-border:hover {
        background: #67c5ff;
        color: white;
      }


    .product-index {
        overflow: hidden;
        transition-duration: 0.3s;
    }
    .product-index:hover {
        transform: scale(1.1);
        transition-duration: 0.3s;

    }

    .total-rank1 {
        overflow: hidden;
        transition-duration: 0.3s;

    }

    .total-rank1:hover {
        transform: scale(1.1);
        transition-duration: 0.3s;

    }

    .product-text {
        text-decoration: none;

    }

    a:hover {
        text-decoration: none;
    }


.buy-btn {
	margin: 50px 15px 0 15px;
}

.user-logo {
	margin-bottom: 10px;
}

.product-image {
	border-radius: 35px;
}

.btn-flat-border {
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	color: #67c5ff;
	border: solid 2px #67c5ff;
	border-radius: 3px;
	transition: .4s;
}

.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
}

.product-index {
  overflow: hidden;
  transition-duration: 0.3s;
}
.product-index:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.total-rank1 {
	overflow: hidden;
	transition-duration: 0.3s;
}

.total-rank1:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.product-text {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}


.Mottomiru{
	position:relative;
}

.Mottomiru-btn{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	margin: 0 auto;
}



.input-group{
	margin-top:15px;
}

.total-rank1 {

    margin: 50px 0 50px 50px;

}

.top-products {
  margin: 50px 0 50px 0;
  overflow: hidden;
  transition-duration: 0.3s;
}

.top-products:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.top-contents {
  list-style: none;
  text-align: center;
}

.top-1-product-name {
  font-size: 35px;
  margin-left: 200px;
}

.genre-rank1-2-3 {
	margin-bottom: 20px;
	overflow: hidden;
    transition-duration: 0.3s;
    text-align: center;
}

.genre-rank1-2-3:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.genre-rank1-2-3 {
  margin-bottom: 50px;
}

.field_with_errors {
  background-color: red;
}
.ranking-1-contents {
  margin-bottom: 30px;
  font-size: 60px;
}

.ranking-1-contents1 {
  text-align: center;
  list-style: none;
}

.user-edit {
  margin: 0 auto;
	//これ使ってる？？？
}


.item-detail {
	// border: groove; ちょっとダサいから打ち消し（やまだ）
	height:150px;
}

.item-detail-image{
	position:relative;
	height:100%;
}


.nav-contents:hover {

    background: whitesmoke;
    opacity: 0.7;
    border-radius: 10px;
}

.nav-logo {
    margin-top: 6px;
}


.top-page {
    margin-top: 50px;
}

.genre-guide {
    position: sticky;
    top: 40px;
    z-index: 0;
}


.nabvar-logo {
  background-image: url(logo.png);
}


//Saddy
.container {
	padding-top: 60px;
}
.admin-order-edit-disabler {
	border: none;
}
.text-center {
	text-align: center;
}
.devise-form-center {
	width: 350px;
	margin: 15px auto;
}
.inline-blocker {
  display: inline-block;
}

.payment-hr{
	margin:10px 0;
}

.address-content{
	padding:30px;
}
.line-height-adjust {
	vertical-align: middle;
}
.form-td-margin {
	margin: 5px 0;
}
.floater {
  float: left;
}
.marginer {
  margin: 10px;
}
.padding10 {
  padding: 10px;
}
.inline-blocker {
  display: inline-block;
}
.bordered {
  border: 1px solid #BBB;
}
// .order-item-info {
//   border: 1px solid;
// }
.font-size20 {
  font-size: 20px;
}
.font-size16 {
  font-size: 16px;
}
.text-right {
  text-align: right;

  
  
 
#skippr-container {
  // margin-top: 60px; navバーの位置がおかしくなるため無効化

}



.jacket-img{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

.procedure-btn-wrapper{
	text-align:center;
	margin-bottom:100px;
}


.ranking-index {
    margin-left: 250px;
}

.ranking-color {
    display: inline-block;
    color: black;
}

a {
    color: black;
    text-decoration: none;
  }



.nav-content{
	display:block;
}
//テーブル上下中央寄せ
.table>thead>tr>th, .table>thead>tr>td, .table>tbody>tr>th, .table>tbody>tr>td, .table>tfoot>tr>th, .table>tfoot>tr>td {
  vertical-align: middle;
}
