// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.master-add-form {
  width: 322px;
}
.master-button {
  width: 90px;
  margin-bottom: 10px;
}
.master-index-box {
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
}
.master-edit-form {
  margin-left: 10px;
}
.master-index-form {
  width: 70%;
  margin: 0 auto;
}
.master-add-form-box {
  margin-bottom: 30px;
}
