// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//トップページのcss

.ranking-2{
  height: 600px;
}

#skippr-container{
  height: 400px;
}
.image1{
background-image: url(neon-color.jpg);
background-position: center;

}
.image2{
background-image: url(skipper7.png);
background-position: center;
}
.image3{
background-image: url(skipper8.jpg);
background-position: center;
}

.top-1-product-name {
  font-size: 30px;
}
.total-rank2-3 {
  margin-top: 20px;
}
#rest-of-ranking{
  display:none;
}
.genre-rank1-2-3 {
  margin-top: 5px;
}

