// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//トップページのcss

.ranking-2{
  height: 600px;
}

#skippr-container{
  height: 700px;
}
.image1{
background-image: url(music-wallpaper.jpg);
background-position: center;

}
.image2{
background-image: url(music-wallpaper1.jpg);
background-position: center;
}
.image3{
background-image: url(music2.jpg);
background-position: center;
}

.top-1-product-name {
  font-size: 30px;
}
.total-rank2-3 {
  margin-top: 20px;
}
#rest-of-ranking{
  display:none;
}
.genre-rank1-2-3 {
  margin-top: 5px;
}
.notice {
  color: black;
  background-color: #99FFCC;
  text-align: center;
  width: 80%;
  height: 40px;
  margin: 0 auto;
}
.alert {
  color: black;
  background-color: pink;
}
//販売停止中のグレー背景
.product-ranking-img-1 {
  width: 350px;
  height: 350px;
  position: absolute;
  background-color: #696969;
  opacity: 0.7;
  z-index: 2;
  border-radius: 35px;
}
.product-ranking-img-2 {
  width: 250px;
  height: 250px;
  position: absolute;
  background-color: #696969;
  opacity: 0.7;
  z-index: 2;
  border-radius: 35px;
}
.product-ranking-img-3 {
  width: 150px;
  height: 150px;
  position: absolute;
  margin-left: 10px;
  background-color: #696969;
  opacity: 0.7;
  z-index: 2;
  border-radius: 35px;
}
.product-ranking-img-4 {
  width: 102px;
  height: 102px;
  position: absolute;
  background-color: #696969;
  opacity: 0.7;
  z-index: 2;
  border-radius: 35px;
}
//販売停止中の文字
.hanbaiteishichuu-ranking-2 {
  text-align: center;
  color: white;
  font-size: 25px;
  margin: 100px 50px 0 50px;
  width: 150px;
  background-color: blue;
  border-radius: 35px;
}
.hanbaiteishichuu-ranking-3 {
  text-align: center;
  color: white;
  font-size: 9px;
  margin: 80px 25px 0 25px;
  width: 100px;
  background-color: blue;
  border-radius: 35px;
}
.hanbaiteishichuu-ranking-4 {
  text-align: center;
  color: white;
  font-size: 9px;
  margin: 45px 10px 0 10px;
  width: 80px;
  background-color: blue;
  border-radius: 35px;
}
