// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_email, #user_password {
  height: 35px;
  width: 350px;
}

.sign_in_field {
  margin-top: 20px;
}

.sign_in_box {
  margin-top: 100px;
  width: 350px;
}
.sign-in-button {
  width: 350px;
}
.sign-in-info-sign-up {
  margin-top: 30px;
  margin-bottom: 10px;
}
.sign-in-button {
  width: 350px;
}
