<p class="genre-head">ジャンル別ランキング</p>
<div class="genre-guide-item">
  <%= link_to "/ranking/", class: "genre-guide-item-link" do %>
    <span>総合</span>
    <span class="glyphicon glyphicon-menu-right"></span>
  <% end %>
  <% @genres.each do |g| %>
    <%= link_to "/ranking/#{g.id}", class: "genre-guide-item-link" do %>
        <span><%= g.name %></span>
        <span class="glyphicon glyphicon-menu-right"></span>
    <% end %>
  <% end %>
</div>
  