
    
        
            <div class="col-lg-2 genre-guide"><!-- こいつにpaddingあてればいい感じに余白ができる？ -->
                    <p class="genre-head">ジャンル別ランキング</p>
                    <% @genres.each do |g| %>
            <table class="table">
                <tr>
                <th><%= link_to g.name, "ranking/#{g.id}", class: "btn-flat-border btn-block"  %></th>
                </tr>
                </table>
                    <% end %>
            </div>
        
    

